<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <article>

        <h1>Natureza do(a)(e) talcoisa</h1>

        <img src="img/img_banner.jpg" alt="">
        
        <!--Descrição do elemento-->
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error accusamus quasi nam ut dolorem, voluptate nobis similique dolor nihil? Aspernatur aliquam placeat animi, consectetur tempore quam eum perferendis quidem excepturi? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos in sapiente molestiae quam quo est impedit neque? Expedita blanditiis, iusto dicta tempore doloribus repellat vel explicabo dolor cupiditate maxime eius?</p>

        <!--Dentro do universo-->

        <section>

            <h2>Como é em Parzec?</h2>

            <!--Como ele é utilizado?-->

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi quidem necessitatibus aliquid sapiente rem debitis nam ullam quisquam tempora, reprehenderit adipisci officiis ipsam doloribus tenetur deleniti, laudantium quod. Culpa, deleniti! Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum et veritatis optio eius nostrum ea ipsam quas velit suscipit aperiam! Voluptate ducimus error saepe, fugit perferendis enim voluptatum. Provident, non.</p>

            <h3>Facetas do Elemento</h3>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi quidem necessitatibus aliquid sapiente rem debitis nam ullam quisquam tempora, reprehenderit adipisci officiis ipsam doloribus tenetur deleniti, laudantium quod. Culpa, deleniti! Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum et veritatis optio eius nostrum ea ipsam quas velit suscipit aperiam! Voluptate ducimus error saepe, fugit perferendis enim voluptatum. Provident, non.</p>

            <h3>Usuários Famosos</h3>

            <div>
                <div>
                    <img src="img/img_square.jpg" alt="">
                </div>
                <div>
                    <p>Nome do personagem</p>
                    <p>Título do personagem</p>
                </div>
                <div>
                    <img src="img/img_square.jpg" alt="">
                </div>
                <div>
                    <p>Nome do personagem</p>
                    <p>Título do personagem</p>
                </div>
                <div>
                    <img src="img/img_square.jpg" alt="">
                </div>
                <div>
                    <p>Nome do personagem</p>
                    <p>Título do personagem</p>
                </div>

                <div>
                    <img src="img/img_square.jpg" alt="">
                </div>
                <div>
                    <p>Nome do personagem</p>
                    <p>Título do personagem</p>
                </div>
                <div>
                    <img src="img/img_square.jpg" alt="">
                </div>
                <div>
                    <p>Nome do personagem</p>
                    <p>Título do personagem</p>
                </div>
                <div>
                    <img src="img/img_square.jpg" alt="">
                </div>
                <div>
                    <p>Nome do personagem</p>
                    <p>Título do personagem</p>
                </div>
            </div>

        </section>

        <!--Lista de Técnicas-->

        <section>

            <h2>Lista de Técnicas</h2>

            <p><strong>Nome da Técnica</strong></p>

            <p><span>Tipagem:</span> dado.</p>
            <p><span>Rastro</span>: dado.</p>
            <p><span>Conjuração</span>: dado.</p>
            <p><span>Erudição</span>: dado.</p>

            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis maxime odit, culpa, porro saepe labore error tenetur explicabo dolore at, corporis officia repellendus laborum ad. Suscipit atque consequuntur officia dolorum. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque id quae velit inventore, molestiae ea quam blanditiis quo sapiente illum voluptatum facere praesentium eius sed officiis, aliquam aut odit quod.</p>

            <p><strong>Nome da Técnica</strong></p>

            <p><span>Tipagem:</span> dado.</p>
            <p><span>Rastro</span>: dado.</p>
            <p><span>Conjuração</span>: dado.</p>
            <p><span>Erudição</span>: dado.</p>

            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis maxime odit, culpa, porro saepe labore error tenetur explicabo dolore at, corporis officia repellendus laborum ad. Suscipit atque consequuntur officia dolorum. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque id quae velit inventore, molestiae ea quam blanditiis quo sapiente illum voluptatum facere praesentium eius sed officiis, aliquam aut odit quod.</p>

            <p><strong>Nome da Técnica</strong></p>

            <p><span>Tipagem:</span> dado.</p>
            <p><span>Rastro</span>: dado.</p>
            <p><span>Conjuração</span>: dado.</p>
            <p><span>Erudição</span>: dado.</p>

            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis maxime odit, culpa, porro saepe labore error tenetur explicabo dolore at, corporis officia repellendus laborum ad. Suscipit atque consequuntur officia dolorum. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque id quae velit inventore, molestiae ea quam blanditiis quo sapiente illum voluptatum facere praesentium eius sed officiis, aliquam aut odit quod.</p>

        </section>

        <!--Onde mais pode ser encontrado-->

        <section>

            <h2>Onde mais de acha?</h2>

            <!--Seres Espíritos e Espécies-->

            <div>
                <div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt asperiores a itaque? Tenetur porro repudiandae excepturi, doloremque debitis vitae id, saepe, labore animi quidem dolor? Ipsum placeat aut aliquam similique. Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta at laborum fugiat, aliquid architecto dolor fuga excepturi reiciendis aliquam alias mollitia, rem aperiam explicabo. Fugiat omnis perferendis eum ratione error.</p>
                </div>
                <div>
                    <img src="img/img_alta.jpg" alt="">
                </div>
                <!--Artefatos, Construções e Locais-->
                <div>
                    <img src="img/img_alta.jpg" alt="">
                </div>
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla commodi, sunt perspiciatis officiis placeat doloremque optio repellendus maiores doloribus repellat eum aperiam, architecto amet eos. Corrupti vitae veniam nobis est. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quod qui, maiores consectetur debitis sapiente voluptate error sed obcaecati inventore non molestias? Quam ipsa, eum exercitationem reprehenderit similique odio ex.</p>
                </div>
                <!--Outras Manifestações-->
                <div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum harum recusandae adipisci ex vero dolores, beatae nostrum non, iusto assumenda praesentium fuga laudantium earum sunt maiores quae doloribus at dolor. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, illum! Dicta tempora aperiam sint, expedita tenetur obcaecati dolorum doloremque vero vitae debitis possimus libero eaque, sunt iure quibusdam hic error!</p>
                </div>
                <div>
                    <img src="img/img_alta.jpg" alt="">
                </div>
            </div>

        </section>

    </article>

</body>
</html>