<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

        @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

        @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Salsa&display=swap');
    </style>
    
    <title>Document</title>
</head>
<body>
    
    <main>

        <section>
            <h1>Título da página</h1>
            
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias illum similique fugiat minus debitis iure explicabo error saepe delectus voluptatibus, officiis excepturi in quaerat. Nobis dolor perspiciatis libero autem velit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates consequatur rem eveniet cumque obcaecati atque officia nesciunt eligendi, error enim incidunt magnam libero sit ea sint, neque autem tempore corrupti.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias illum similique fugiat minus debitis iure explicabo error saepe delectus voluptatibus, officiis excepturi in quaerat. Nobis dolor perspiciatis libero autem velit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates consequatur rem eveniet cumque obcaecati atque officia nesciunt eligendi, error enim incidunt magnam libero sit ea sint, neque autem tempore corrupti.</p>
        </section>

        <section>

            <a href=""><img src="../img/img_banner.jpg" alt=""></a>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro id dolor voluptate quasi minus accusamus possimus error earum maiores nostrum. At architecto a quaerat doloribus. Quaerat porro vero officiis voluptate. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui exercitationem quos omnis. Repellendus veritatis corporis quibusdam quidem provident dolor commodi expedita eos. Fugit, dicta esse mollitia vel ipsum repellat unde.</p>

            <a href=""><img src="../img/img_banner.jpg" alt=""></a>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro id dolor voluptate quasi minus accusamus possimus error earum maiores nostrum. At architecto a quaerat doloribus. Quaerat porro vero officiis voluptate. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui exercitationem quos omnis. Repellendus veritatis corporis quibusdam quidem provident dolor commodi expedita eos. Fugit, dicta esse mollitia vel ipsum repellat unde.</p>

            <a href=""><img src="../img/img_banner.jpg" alt=""></a>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro id dolor voluptate quasi minus accusamus possimus error earum maiores nostrum. At architecto a quaerat doloribus. Quaerat porro vero officiis voluptate. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui exercitationem quos omnis. Repellendus veritatis corporis quibusdam quidem provident dolor commodi expedita eos. Fugit, dicta esse mollitia vel ipsum repellat unde.</p>

            <a href=""><img src="../img/img_banner.jpg" alt=""></a>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro id dolor voluptate quasi minus accusamus possimus error earum maiores nostrum. At architecto a quaerat doloribus. Quaerat porro vero officiis voluptate. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui exercitationem quos omnis. Repellendus veritatis corporis quibusdam quidem provident dolor commodi expedita eos. Fugit, dicta esse mollitia vel ipsum repellat unde.</p>

        </section>

    </main>

</body>
</html>