<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <main>

        <section>
            <h1>Titulo</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit doloremque asperiores libero nobis dolores optio eligendi dolor non natus aut error praesentium, explicabo maiores aliquam voluptatem. Ut aliquid possimus numquam.</p>
        </section>

        <section>

            <!--flex-->

            <div>

                <div>
                    <a href="">
                        <img src="../img/img_square.jpg" alt="">
                        <p>nome da página</p>
                    </a>
                </div>
                <div>
                    <a href="">
                        <img src="../img/img_square.jpg" alt="">
                        <p>nome da página</p>
                    </a>
                </div>
                <div>
                    <a href="">
                        <img src="../img/img_square.jpg" alt="">
                        <p>nome da página</p>
                    </a>
                </div>

                <div>
                    <a href="">
                        <img src="../img/img_square.jpg" alt="">
                        <p>nome da página</p>
                    </a>
                </div>
                <div>
                    <a href="">
                        <img src="../img/img_square.jpg" alt="">
                        <p>nome da página</p>
                    </a>
                </div>
                <div>
                    <a href="">
                        <img src="../img/img_square.jpg" alt="">
                        <p>nome da página</p>
                    </a>
                </div>

                <div>
                    <a href="">
                        <img src="../img/img_square.jpg" alt="">
                        <p>nome da página</p>
                    </a>
                </div>
                <div>
                    <a href="">
                        <img src="../img/img_square.jpg" alt="">
                        <p>nome da página</p>
                    </a>
                </div>
                <div>
                    <a href="">
                        <img src="../img/img_square.jpg" alt="">
                        <p>nome da página</p>
                    </a>
                </div>

            </div>

        </section>



    </main>

</body>
</html>