<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <article>

        <section>
            <h1>Título da receita</h1>

            <!--introdução-->

            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut excepturi nihil deserunt veniam repellendus cupiditate architecto ipsum. Blanditiis amet est numquam accusamus molestiae reprehenderit autem, repellat similique iste itaque perspiciatis.</p>
        </section>

        <section>
            <h2>Sobre</h2>

                <!--Descrição-->

                <div>
                    <!--
                        Aqui vai:
                        - Tipos de uso
                        - Entorno: História, Cultura, Símbolos
                        - Dificuldades para criar
                        - Importante saber
                        - Como guardar
                        - Onde conseguir, regiões, comércio
                    -->
                    
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla minus velit rerum voluptate doloremque optio, dolore, quasi illo asperiores, tenetur quis voluptas corrupti ad libero culpa. Totam numquam incidunt aperiam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Error ipsa, laboriosam alias illum quae aspernatur accusantium accusamus labore nam quidem voluptas asperiores dolorem eos, non molestias ea maiores? Dolore, corrupti!</p>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla minus velit rerum voluptate doloremque optio, dolore, quasi illo asperiores, tenetur quis voluptas corrupti ad libero culpa. Totam numquam incidunt aperiam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Error ipsa, laboriosam alias illum quae aspernatur accusantium accusamus labore nam quidem voluptas asperiores dolorem eos, non molestias ea maiores? Dolore, corrupti!</p>
                </div>

                <!--Registros de uso-->

                <div>

                    <h3>Registros de Uso</h3>

                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores debitis ipsum molestias! Accusamus consequuntur, eligendi eius voluptatum impedit molestias quo sequi sed ex, quis aut exercitationem repudiandae magni repellat pariatur.</p>

                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores debitis ipsum molestias! Accusamus consequuntur, eligendi eius voluptatum impedit molestias quo sequi sed ex, quis aut exercitationem repudiandae magni repellat pariatur.</p>

                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores debitis ipsum molestias! Accusamus consequuntur, eligendi eius voluptatum impedit molestias quo sequi sed ex, quis aut exercitationem repudiandae magni repellat pariatur.</p>

                </div>
            
                <!--Encatos/Efeitos-->

                <div>

                    <h3>Encantos/Efeitos</h3>

                    <!--Para encantos:-->

                    <table>

                        <tr>
                            <tr>
                                <th>Conhecimentos</th>
                                <td>Forjaria,Botânica</td>
                            </tr>
                            <tr>
                                <th>Tipagem</th>
                                <td>Objeto, Arma</td>
                            </tr>
                            <tr>
                                <th>Agência</th>
                                <td>ao Toque</td>
                            </tr>
                            <tr>
                                <th>Encantos</th>
                                <td>Hipnótico, Debilitante</td>
                            </tr>
                        </tr>

                    </table>

                    <!--Para efeitos:-->



                </div>
        </section>

        <section>
            <h2>Criando</h2>

                <!--Tempo de Preparo-->

                <div>
                    
                    <h3>Tempo de Preparo</h3>

                    <ul>
                        <li>Fase 1: X horas</li>
                        <li>Fase 2: X horas</li>

                        <li>Tempo Total: x horas</li>
                    </ul>

                    <!--Observações-->

                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem eveniet alias asperiores quam veritatis eius deserunt, voluptates molestias aperiam cupiditate animi. Est porro quo libero quidem. Impedit eligendi deserunt atque?</p>

                </div>

                <!--Ingredientes-->

                <div>

                    <h3>Ingredietes</h3>

                    <ul>
                        <li>tal</li>

                        <li>tal</li>

                        <li>tal</li>
                    </ul>

                </div>

                <!--Instruções-->

                <div>

                    <h3>Instruções</h3>

                    <ol>
                        <li>tal</li>
                        
                        <li>tal</li>
                        
                        <li>tal</li>
                    </ol>

                </div>

        </section>

    </article>

</body>
</html>