<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../CSS/model.css">
    <link rel="stylesheet" href="../CSS/flex.css">
    <link rel="stylesheet" href="../CSS/header.css">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

        @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

        @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Salsa&display=swap');
    </style>
    
    <title>Document</title>
</head>
<body>

    <div id="header-placeholder"></div>

    <article>

        <section>
            <h1>Nome do Lugar</h1>

            <img src="../img/img_banner.jpg" alt="">

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus facilis perspiciatis aspernatur debitis. Eius amet perferendis quasi ducimus, minima a qui perspiciatis incidunt eligendi, culpa esse quam ab. Quaerat, excepturi! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est, odit illo, expedita, adipisci nisi nihil officia ut in exercitationem fugiat corrupti? Delectus laborum quis recusandae officiis vero nihil, ut molestias?</p>

        </section>

        <!--Ambiente-->

        <section>

            <h2>Ambiente</h2>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus facilis perspiciatis aspernatur debitis. Eius amet perferendis quasi ducimus, minima a qui perspiciatis incidunt eligendi, culpa esse quam ab. Quaerat, excepturi! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est, odit illo, expedita, adipisci nisi nihil officia ut in exercitationem fugiat corrupti? Delectus laborum quis recusandae officiis vero nihil, ut molestias?</p>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus facilis perspiciatis aspernatur debitis. Eius amet perferendis quasi ducimus, minima a qui perspiciatis incidunt eligendi, culpa esse quam ab. Quaerat, excepturi! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est, odit illo, expedita, adipisci nisi nihil officia ut in exercitationem fugiat corrupti? Delectus laborum quis recusandae officiis vero nihil, ut molestias?</p>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus facilis perspiciatis aspernatur debitis. Eius amet perferendis quasi ducimus, minima a qui perspiciatis incidunt eligendi, culpa esse quam ab. Quaerat, excepturi! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est, odit illo, expedita, adipisci nisi nihil officia ut in exercitationem fugiat corrupti? Delectus laborum quis recusandae officiis vero nihil, ut molestias?</p>

        </section>

        <!--Ecossistema-->

        <section>

            <h2>Ecossistema</h2>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus facilis perspiciatis aspernatur debitis. Eius amet perferendis quasi ducimus, minima a qui perspiciatis incidunt eligendi, culpa esse quam ab. Quaerat, excepturi! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est, odit illo, expedita, adipisci nisi nihil officia ut in exercitationem fugiat corrupti? Delectus laborum quis recusandae officiis vero nihil, ut molestias?</p>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus facilis perspiciatis aspernatur debitis. Eius amet perferendis quasi ducimus, minima a qui perspiciatis incidunt eligendi, culpa esse quam ab. Quaerat, excepturi! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est, odit illo, expedita, adipisci nisi nihil officia ut in exercitationem fugiat corrupti? Delectus laborum quis recusandae officiis vero nihil, ut molestias?</p>
            
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus facilis perspiciatis aspernatur debitis. Eius amet perferendis quasi ducimus, minima a qui perspiciatis incidunt eligendi, culpa esse quam ab. Quaerat, excepturi! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est, odit illo, expedita, adipisci nisi nihil officia ut in exercitationem fugiat corrupti? Delectus laborum quis recusandae officiis vero nihil, ut molestias?</p>

        </section>

        <!--Ocupação-->

        <section>

            <h2>Ocupação</h2>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus facilis perspiciatis aspernatur debitis. Eius amet perferendis quasi ducimus, minima a qui perspiciatis incidunt eligendi, culpa esse quam ab. Quaerat, excepturi! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est, odit illo, expedita, adipisci nisi nihil officia ut in exercitationem fugiat corrupti? Delectus laborum quis recusandae officiis vero nihil, ut molestias?</p>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus facilis perspiciatis aspernatur debitis. Eius amet perferendis quasi ducimus, minima a qui perspiciatis incidunt eligendi, culpa esse quam ab. Quaerat, excepturi! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est, odit illo, expedita, adipisci nisi nihil officia ut in exercitationem fugiat corrupti? Delectus laborum quis recusandae officiis vero nihil, ut molestias?</p>
            
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus facilis perspiciatis aspernatur debitis. Eius amet perferendis quasi ducimus, minima a qui perspiciatis incidunt eligendi, culpa esse quam ab. Quaerat, excepturi! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est, odit illo, expedita, adipisci nisi nihil officia ut in exercitationem fugiat corrupti? Delectus laborum quis recusandae officiis vero nihil, ut molestias?</p>

        </section>

        <!--Contéudo-->

        <section>

            <h2>Conteúdo</h2>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus facilis perspiciatis aspernatur debitis. Eius amet perferendis quasi ducimus, minima a qui perspiciatis incidunt eligendi, culpa esse quam ab. Quaerat, excepturi! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est, odit illo, expedita, adipisci nisi nihil officia ut in exercitationem fugiat corrupti? Delectus laborum quis recusandae officiis vero nihil, ut molestias?</p>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus facilis perspiciatis aspernatur debitis. Eius amet perferendis quasi ducimus, minima a qui perspiciatis incidunt eligendi, culpa esse quam ab. Quaerat, excepturi! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est, odit illo, expedita, adipisci nisi nihil officia ut in exercitationem fugiat corrupti? Delectus laborum quis recusandae officiis vero nihil, ut molestias?</p>
            
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus facilis perspiciatis aspernatur debitis. Eius amet perferendis quasi ducimus, minima a qui perspiciatis incidunt eligendi, culpa esse quam ab. Quaerat, excepturi! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est, odit illo, expedita, adipisci nisi nihil officia ut in exercitationem fugiat corrupti? Delectus laborum quis recusandae officiis vero nihil, ut molestias?</p>

        </section>

        <!--Atividades-->

        <section>

            <h2>Atividades</h2>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus facilis perspiciatis aspernatur debitis. Eius amet perferendis quasi ducimus, minima a qui perspiciatis incidunt eligendi, culpa esse quam ab. Quaerat, excepturi! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est, odit illo, expedita, adipisci nisi nihil officia ut in exercitationem fugiat corrupti? Delectus laborum quis recusandae officiis vero nihil, ut molestias?</p>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus facilis perspiciatis aspernatur debitis. Eius amet perferendis quasi ducimus, minima a qui perspiciatis incidunt eligendi, culpa esse quam ab. Quaerat, excepturi! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est, odit illo, expedita, adipisci nisi nihil officia ut in exercitationem fugiat corrupti? Delectus laborum quis recusandae officiis vero nihil, ut molestias?</p>
            
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus facilis perspiciatis aspernatur debitis. Eius amet perferendis quasi ducimus, minima a qui perspiciatis incidunt eligendi, culpa esse quam ab. Quaerat, excepturi! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est, odit illo, expedita, adipisci nisi nihil officia ut in exercitationem fugiat corrupti? Delectus laborum quis recusandae officiis vero nihil, ut molestias?</p>

        </section>

        <!--História-->

        <section>

            <h2>História</h2>

                <!--Origens-->

                <div>
                    <h3>Origens</h3>

                     <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus facilis perspiciatis aspernatur debitis. Eius amet perferendis quasi ducimus, minima a qui perspiciatis incidunt eligendi, culpa esse quam ab. Quaerat, excepturi! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est, odit illo, expedita, adipisci nisi nihil officia ut in exercitationem fugiat corrupti? Delectus laborum quis recusandae officiis vero nihil, ut molestias?</p>
                </div>

                <!--Eras e Eventos-->

                <div>
                    <h3>Eras e Eventos</h3>

                    <div>
                        <h4>Era primeira</h4>

                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus eveniet id voluptatem tenetur nostrum exercitationem assumenda laboriosam, libero, magnam recusandae saepe minus incidunt nam totam repellat repudiandae quo quos commodi? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum quis officiis deserunt harum pariatur dolorum tempore dolores nobis ducimus inventore ea earum dignissimos facere rerum odio, temporibus, repudiandae itaque fugit.</p>

                        <p><span>nome do evento</span></p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus voluptatum repellat, nihil dolores voluptatibus aspernatur, mollitia qui rerum excepturi minus labore velit, laborum aliquid dignissimos! Reprehenderit sint maiores consequatur nemo?</p>

                        <p><span>nome do evento</span></p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus voluptatum repellat, nihil dolores voluptatibus aspernatur, mollitia qui rerum excepturi minus labore velit, laborum aliquid dignissimos! Reprehenderit sint maiores consequatur nemo?</p>

                    </div>

                    <div>

                        <h4>Era segunda</h4>

                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus eveniet id voluptatem tenetur nostrum exercitationem assumenda laboriosam, libero, magnam recusandae saepe minus incidunt nam totam repellat repudiandae quo quos commodi? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum quis officiis deserunt harum pariatur dolorum tempore dolores nobis ducimus inventore ea earum dignissimos facere rerum odio, temporibus, repudiandae itaque fugit.</p>

                        <p><span>nome do evento</span></p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus voluptatum repellat, nihil dolores voluptatibus aspernatur, mollitia qui rerum excepturi minus labore velit, laborum aliquid dignissimos! Reprehenderit sint maiores consequatur nemo?</p>

                    </div>

                </div>

                <!--Presente e Expectativas-->

                <div>

                    <h3>Presente e Expectativas</h3>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque corrupti ipsa, quasi doloremque dignissimos magnam pariatur? Debitis, voluptatibus cum doloribus accusamus animi sed repudiandae aliquam ducimus officiis explicabo asperiores officia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod praesentium alias quidem ea, itaque optio natus nihil corrupti at modi tenetur voluptatem architecto veritatis atque pariatur reprehenderit, in dolorum sapiente?</p>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque corrupti ipsa, quasi doloremque dignissimos magnam pariatur? Debitis, voluptatibus cum doloribus accusamus animi sed repudiandae aliquam ducimus officiis explicabo asperiores officia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod praesentium alias quidem ea, itaque optio natus nihil corrupti at modi tenetur voluptatem architecto veritatis atque pariatur reprehenderit, in dolorum sapiente?</p>

                </div>

        </section>

    </article>
    
    <script
    
        src="../JS/script.js">
        
    </script>
    
</body>
</html>